<html>
    <head>
        <title>Добавление файла</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">             
            <div class="header">                 
                <nav
                    class="border-bottom flex-wrap mb-4 py-3 d-flex justify-content-center"
                >
                    <a
                        href="/"
                        class="text-dark text-decoration-none mb-3 mb-md-0 d-flex align-items-center me-md-auto"
                    >
                        <span class="fs-2">Spaces</span>
                    </a>                     
                </nav>             
            </div>
        </div>
        <p><h1 align="center">Выберите фотографию к тексту</h1></p>
        <div class="container">
        <div class="row">
        <h2>Выбрать файл</h2>
        <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        </p>
    <form method="post" action="/profile_image" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
